<div id="<%= dom_id task %>" class="mb-4">
 <%= link_to task, class: "text-decoration-none text-reset" do %>
  <p class="lead mb-0">Name</p>
  <p class="mb-0"><%= task.name %></p>
  <p class="lead mb-0">Status</p>
  <p class="mb-0"><%= task.status %></p>
<% end %>
</div>
