<div class="container mt-5">
  <div class="row justify-content-between">
    <div class="col">
      <h1>Tasks</h1>
    </div>
    <div class="col text-end">
      <%= link_to "New task", new_task_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div id="posts" class="mt-3">
    <%= render @tasks %>
  </div>
</div>
