
<li class="nav-item">
  <%= nav_link_to "About", send("about_path"), class: "nav-link" %>
</li>
<li class="nav-item">
  <%= nav_link_to "Pricing", send("pricing_path"), class: "nav-link" %>
</li>
<li class="nav-item">
  <%= nav_link_to "Tasks", tasks_path, class: "nav-link" %>
</li>

